# Python Programming Fundamentals

Python is a programming language.  It is a language that you can use to tell a computer to do things.

Python runs in a thing called an interperter which reads the code and executes it.

We like using Python in Software Carpentry Workshops for lots of reasons

* Python is widely used in science
* Python a huge supporting community so there are lots of ways to learn and get help
* In my experience it is really nice to work with because it is easier to get started than other languages.
and there are tools Jupyter Notebook to help.
* Even if you aren't using Python in your work, you can use Python to learn the fundamentals of programming that will apply accross languages

# COMMENTS

We can annotate our code with something called comments.  Comments help us understand our code.  Python doesn't run the comments.

We will see a lot of comments in the code snippets below

In [1]:
# a comment
# I can annotate my code to help me understand what is going on
# when I execute this cell nothing happens because comments are ignored by the Python interpreter

### Data Types

##### Numbers

The Python interpreter can be a calculator.  We can tell it to do math with numbers.

[+ - / * %]

These are called operators (mathematical operators) because they operate on, do things to, the values involved

In [2]:
1

1

In [3]:
2 + 4

6

In [4]:
2 - 3

-1

In [8]:
100 *  5

500

In [9]:
4 / 2  # Division always returns a floating point number.  Do you know why?

2.0

In [7]:
4 / 3  # Division always returns a floating point number. Do you know why, now?

1.3333333333333333

In [6]:
4 % 3 # this is the "mod" operator.  It gives us the remainder of dividing two numbers

1

In [10]:
2 ** 3  # this is how we do "power" or exponents.  change this to do 2 squared and see what you get.

8

In [11]:
type(3)

int

In [12]:
type(3.5)

float

##### Strings

In [13]:
"Cats"

'Cats'

In [14]:
'Dogs' # we can use double quotes and single quotes

'Dogs'

In [ ]:
'Hello World'

In [ ]:
"I can't wait to program for the rest of my life"

In [15]:
"My name is " + "Andre" # we can concatenate strings

'My name is Andre'

In [ ]:
type("Cats")

In [ ]:
type("Doge")

## Assessment
Question

Strings are contained in -- put your answers in the etherpad
1. double quotes " "
2. single quotes ' '
3. parentheses ( )
4. brackets [ ]
5. either 1 or 2
6. either 3 or 4

##### Lists

In [16]:
[1, 2, 3]

[1, 2, 3]

In [ ]:
[100, 4, 12, 45]

In [17]:
["Cat", "Dog", "Zebra"]

['Cat', 'Dog', 'Zebra']

In [19]:
# make your own list and execute it

[46, "Z", "number", 1.5 ]

[46, 'Z', 'number', 1.5]

##### Variables

We store values inside variables a variable can hold any kind of data type or structure we can refer to variables in other parts of our programs

In [25]:
x = 4

In [21]:
x

4

In [ ]:
x + 2

In [28]:
my_sweet_ride = "Ferrari"

In [29]:
my_sweet_ride

'Ferrari'

In [ ]:
my_name = "Marnee"
"My name is " + my_name # we can put string variables together with "literal" strings

In [ ]:
type(x)

In [30]:
type(my_sweet_ride)

str

In [31]:
x = 4
y = 100
z = x * y

In [32]:
z # what will z be?

400

### Back to lists

In [33]:
list_of_numbers = [100, 67, 4, 101] # if you execute this cell youll notice there is no output. 
# we can assign a list to a variable

In [34]:
list_of_numbers[0] # lists are indexed so we can get the value at a certain place in the list starting with 0

100

In [35]:
list_of_numbers[1]

67

In [36]:
list_of_numbers[2]

4

In [37]:
# This will gives us an error because the index is asking for a location that is not in the
# list (out of range).
list_of_numbers[4]

IndexError: list index out of range

In [38]:
# We can use a variable as the index
a_variable = 2
list_of_numbers[a_variable]

4

In [ ]:
list_of_numbers[0:3]

In [39]:
it_is_happening = "What is happening?" # strings are treated like lists of characters by the interpreter
it_is_happening[0]

'W'

In [43]:
it_is_happening[0:10] # this is called slicing. we can slice the string to get a sections of it.  here we get the first 10 characters.  
# try getting the 5 characters in the middle
# I'll start it off for you
it_is_happening[4:9]  #start at 4 and go to 9

' is h'

There are many ways to change the contents of lists besides assigning new values to individual elements:

In [45]:
odd_numbers = [1, 3, 5, 7]
print('odds are:', odd_numbers) # print will display the results of the expression inside the parentheses

odds are: [1, 3, 5, 7]

In [46]:
odd_numbers.append(11) # add a value to the end of the list
print('odds after adding a value:', odd_numbers)  # let's see what is inside

odds after adding a value: [1, 3, 5, 7, 11]

In [47]:
del(odd_numbers[0])  # del stands for delete.  we are going to delete the value at the 0 position in the list
print('odds after removing the first element:', odd_numbers)

odds after removing the first element: [3, 5, 7, 11]

In [49]:
odd_numbers.reverse()
print('odds after reversing:', odd_numbers)

odds after reversing: [3, 5, 7, 11]

In [50]:
odd_numbers = [1, 3, 5, 7]
print('odds are:', odd_numbers)
odd_numbers = odd_numbers + [11] # we can also add things to the end of a list with the plus sign (addition operator)
print('odds are:', odd_numbers)

odds are: [1, 3, 5, 7]
odds are: [1, 3, 5, 7, 11]

In [51]:
# try adding something to the list that isn't a number, like a string
odd_numbers = odd_numbers + [ "help" ] 
odd_numbers

[1, 3, 5, 7, 11, 'help']

What was the result?  In Python a list can be any combination of types.

##### Dictionaries

Dictionaries are a special kind of data structure

Dictionaries are collections of things that you can lookup like in a real dictionary:

In [52]:
dictionary_of_definitions = {"aardvark" : "The aardvark is a medium-sized, burrowing, nocturnal mammal native to Africa.",
    "boat" : "A boat is a thing that floats on water"}

In [54]:
dictionary_of_definitions

{'aardvark': 'The aardvark is a medium-sized, burrowing, nocturnal mammal native to Africa.',
 'boat': 'A boat is a thing that floats on water'}

In [74]:
# we can find the definition of aardvark by giving the dictionary the "key" to the definition we want.
# In this case the key is the word we want to lookup
dictionary_of_definitions["aardvark"]

'The aardvark is a medium-sized, burrowing, nocturnal mammal native to Africa.'

In [56]:
state_codes = {"AZ" : "Arizona", "CA" : "California", "UT" : "Utah"}

This sets up an association between state codes and their full name.  You can do this for any pair, or pairs, of associations

Sometimes dictionaries are called "associative arrays" for this reason.

We call each association a "key-value pair".  

A dicitonary can be thought of as a list of associations known as key-value pairs

In [57]:
# we can find the state associated with a code by asking the dictionary the number we want to lookup
print ("AZ is %s " % state_codes["AZ"])

AZ is Arizona

In [58]:
# we can add difinitions like this
# try adding a definition to our dictionary
dictionary_of_definitions["cat"] = "It's animals that likes to take naps"
# here we are assigning the word "cat" to the defintion.
# If Python does not find the word "cat" in the dictionary then it will add it,
# if the key is found it will update the definition of the key.

In [ ]:
dictionary_of_definitions

In [59]:
# dictionary "keys" can be a number or a string like this
color_codes = {1 : "purple", 2: "green", 3: "yellow"}
color_codes

{1: 'purple', 2: 'green', 3: 'yellow'}

In [62]:
color_codes[3] 
# what would you put inside the square brakets to get the color yellow?  enter it and execute this cell

'yellow'

## Assessment

Which one of these is a valid entry in a dictionary? Put your answers in the Etherpad.

1. "key" : "value"
2. "GCBHSA: "ldksghdklfghfdlgkfdhgfldkghfgfhd"
3. "900" : "key" : "value"
4. 1 : 10000

##### Exercise Block #1

Create two python variables that will add up to 100.

In [65]:
num_1 = 70
num_2 = 30
num_1+num_2

100

Add two python strings together to create a sentence.

In [68]:
"My name is" + " Zuleima"

'My name is Zuleima'

Create a list with number values only and assign the list to a variable. Then get the value in the first position in the list.

In [69]:
[6,4,3]
list1= [6,4,3]
list1[0]

6

In [ ]:
Create a dictionary and get the values according to the keys.

In [75]:
my_dictionary= {"python": "A programming language", "list": "Can have strings and ints"}

my_dictionary["python"]

'A programming language'

##### Boolean Logic

Booleans are a data type that is either true or false.  

When we compare two values the result is either true or false (boolean)

We can do comparisons like:
    * equals ==
    * less than <
    * greater than >
    * less than or equal to <=
    * greater than or equal to >=

In [76]:
True

True

In [ ]:
False

In [77]:
1 == 1

True

In [78]:
2 == 1

False

In [79]:
1 < 10 # is 1 less than ten?  do the result of these comparisons in your head and then execute the cells.  were you right?

True

In [80]:
1 <= 10

True

In [81]:
1 > 10

False

In [82]:
1 >= 10

False

In [83]:
"cats run the internet" == "cats run the internet"

True

In [84]:
"dogs" == "cats"

False

In [85]:
"abc" < "def"

True

How are strings compared?

In [86]:
"abc" > "def"

False

In [87]:
"a" < "b"

True

In [88]:
"a" > "b"

False

## Making decisions in your code with comparisons (conditionals)

We can use comparisons to do this

We do this with something called an "if statement"

In [89]:
x = 5

if x < 10: # the thing being tested is called "the condition"
    print("x is less than 10") # the condition is that x is less than 10

x is less than 10

In [95]:
x = 11

if x < 10:
    print("x is less than 10")
else:
    print("x is greater than or equal to 10")

x is greater than or equal to 10

In [ ]:
my_name = "Marnee"

if my_name == "Marnee":
    print("Marnee loves Kenny Loggins.")

What if a condition has more than two choices (not boolean) ?

In Python if-statements will let you do that with elif

elif stands for "else if"

In [101]:
a_number = 10

if a_number > 100: # what is the condition here?  
    print("Large value")
    y = 10  # Example of doing different types of expressions and statements
elif a_number > 10: # what is the condition here?
    print("Medium value")
    y = 5
else:  # what is the condition here?
    print("Small value")
    y = 0

Small value

##### Looping

Loops tell a program to do the same thing over and over again until a certain condition is met

We can loop over collections of things like lists or dictionaries

Or we can create a looping structure

In [102]:
# If I want to print a list of fruits, I could write out each print statment like this:
print("apple")
print("banana")
print("mango")

apple
banana
mango

In [105]:
# or I could create a list of fruit
# loop over the list, which is a collection of strings
# and print each item in the list
list_of_fruit = ["apple", "banana", "mango"]

This is how we write the loop

"fruit" here is a variable that will hold each item in the list, the fruit, as we loop

over the items in the list

In [106]:

for fruit in list_of_fruit: # for each fruit in list_of_fruit, print the fruit
    print (fruit)

apple
banana
mango

In [ ]:
# We can do the same thing with a dictionary and each association in the dictionary

fruit_price = {"apple" : 0.10, "banana" : 0.50, "mango" : 0.75}

for key, value in fruit_price.items():
    print ("%s price is %f" % (key, value))

# LOOPING a set number of times

We can do this with range 

range automatically creates a list of numbers in a range

In [109]:

# here we create a list of 10 numbers starting with 0 and increasing by one until we have 10 numbers
# What will be printed?
for x in range(0,3):
    print (x)

0
1
2

In [111]:
# we can do things inside of the loop
# let's add a list of numbers 

list_of_numbers = [1, 2, 3, 4]
# This could take a while to add everything by hand.

In [112]:
total_sum = 0  # we will store the final value in this variable
#value is each number from (0,10)
for value in range(0, 3):
    total_sum = total_sum + value
    print (value, total_sum)
    
total_sum


#total_sum = 0  # we will store the final value in this variable
#value is each number from (0,10)
#for value in range(0, 3):
    #print("current total sum %f" % total_sum)
    #print("adding %f" %value)
    #total_sum = total_sum + value
    #print ("sum %f %f" % (value, total_sum))
    
#total_sum

0 0
1 1
2 3

3

In [113]:
word = "supercalifragilisticexpialidocious"
for char in word:
    print(char)

s
u
p
e
r
c
a
l
i
f
r
a
g
i
l
i
s
t
i
c
e
x
p
i
a
l
i
d
o
c
i
o
u
s

###### For loops take the form of
```
for variable in collection:
    do things with variable
```

##### Exercise Block #2
Use a for-loop to convert the string “hello” into a list of letters:
```
["h", "e", "l", "l", "o"]


Hint: You can create an empty list like this:
```
my_list = []
```

In [ ]:
hello = "hello"  # remember that strings are lists of characters

In [121]:
my_list = []

for char in hello:
    print(char)
    my_list.append(char)
    
    #append something you want to add
    
my_list

h
e
l
l
o

['h', 'e', 'l', 'l', 'o']

In [118]:
my_list = ["h", "e", "l", "l", "o"]

for char in my_list:
    print(char)

h
e
l
l
o